In [1]:
print("Hello World")

Hello World

In [2]:
data = open("demo_1_data.csv").read().strip()

In [3]:
data

'outlook,temperature,humidity,windy,play\nsunny,hot,high,FALSE,no\nsunny,hot,high,TRUE,no\noverc,hot,high,FALSE,yes\nrainy,mild,high,FALSE,yes\nrainy,cool,normal,FALSE,yes\nrainy,cool,normal,TRUE,no\noverc,cool,normal,TRUE,yes\nsunny,mild,high,FALSE,no\nsunny,cool,normal,FALSE,yes\nrainy,mild,normal,FALSE,yes\nsunny,mild,normal,TRUE,yes\noverc,mild,high,TRUE,yes\noverc,hot,normal,FALSE,yes\nrainy,mild,high,TRUE,no'

In [4]:
datalines = data.split("\n")
datalines

['outlook,temperature,humidity,windy,play',
 'sunny,hot,high,FALSE,no',
 'sunny,hot,high,TRUE,no',
 'overc,hot,high,FALSE,yes',
 'rainy,mild,high,FALSE,yes',
 'rainy,cool,normal,FALSE,yes',
 'rainy,cool,normal,TRUE,no',
 'overc,cool,normal,TRUE,yes',
 'sunny,mild,high,FALSE,no',
 'sunny,cool,normal,FALSE,yes',
 'rainy,mild,normal,FALSE,yes',
 'sunny,mild,normal,TRUE,yes',
 'overc,mild,high,TRUE,yes',
 'overc,hot,normal,FALSE,yes',
 'rainy,mild,high,TRUE,no']

In [7]:
datalines[0][0]

'o'

In [8]:
datafields = []
for line in datalines:
    datafields.append(line.split(","))

In [9]:
datafields

[['outlook', 'temperature', 'humidity', 'windy', 'play'],
 ['sunny', 'hot', 'high', 'FALSE', 'no'],
 ['sunny', 'hot', 'high', 'TRUE', 'no'],
 ['overc', 'hot', 'high', 'FALSE', 'yes'],
 ['rainy', 'mild', 'high', 'FALSE', 'yes'],
 ['rainy', 'cool', 'normal', 'FALSE', 'yes'],
 ['rainy', 'cool', 'normal', 'TRUE', 'no'],
 ['overc', 'cool', 'normal', 'TRUE', 'yes'],
 ['sunny', 'mild', 'high', 'FALSE', 'no'],
 ['sunny', 'cool', 'normal', 'FALSE', 'yes'],
 ['rainy', 'mild', 'normal', 'FALSE', 'yes'],
 ['sunny', 'mild', 'normal', 'TRUE', 'yes'],
 ['overc', 'mild', 'high', 'TRUE', 'yes'],
 ['overc', 'hot', 'normal', 'FALSE', 'yes'],
 ['rainy', 'mild', 'high', 'TRUE', 'no']]

In [11]:
datafields[1][0]

'sunny'

In [12]:
features = []
labels = []
for line in datafields:
    features.append(line[0:4])
    labels.append(line[4])

In [13]:
features

[['outlook', 'temperature', 'humidity', 'windy'],
 ['sunny', 'hot', 'high', 'FALSE'],
 ['sunny', 'hot', 'high', 'TRUE'],
 ['overc', 'hot', 'high', 'FALSE'],
 ['rainy', 'mild', 'high', 'FALSE'],
 ['rainy', 'cool', 'normal', 'FALSE'],
 ['rainy', 'cool', 'normal', 'TRUE'],
 ['overc', 'cool', 'normal', 'TRUE'],
 ['sunny', 'mild', 'high', 'FALSE'],
 ['sunny', 'cool', 'normal', 'FALSE'],
 ['rainy', 'mild', 'normal', 'FALSE'],
 ['sunny', 'mild', 'normal', 'TRUE'],
 ['overc', 'mild', 'high', 'TRUE'],
 ['overc', 'hot', 'normal', 'FALSE'],
 ['rainy', 'mild', 'high', 'TRUE']]

In [14]:
labels

['play',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no']

In [15]:
import pandas as pd

In [16]:
data_frame = pd.read_csv("demo_1_data.csv")

In [17]:
data_frame

   outlook temperature humidity  windy play
0    sunny         hot     high  False   no
1    sunny         hot     high   True   no
2    overc         hot     high  False  yes
3    rainy        mild     high  False  yes
4    rainy        cool   normal  False  yes
5    rainy        cool   normal   True   no
6    overc        cool   normal   True  yes
7    sunny        mild     high  False   no
8    sunny        cool   normal  False  yes
9    rainy        mild   normal  False  yes
10   sunny        mild   normal   True  yes
11   overc        mild     high   True  yes
12   overc         hot   normal  False  yes
13   rainy        mild     high   True   no

In [18]:
label_frame = data_frame["play"]
label_frame

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
Name: play, dtype: object

In [19]:
features_frame = data_frame.iloc[:,0:4]
features_frame

   outlook temperature humidity  windy
0    sunny         hot     high  False
1    sunny         hot     high   True
2    overc         hot     high  False
3    rainy        mild     high  False
4    rainy        cool   normal  False
5    rainy        cool   normal   True
6    overc        cool   normal   True
7    sunny        mild     high  False
8    sunny        cool   normal  False
9    rainy        mild   normal  False
10   sunny        mild   normal   True
11   overc        mild     high   True
12   overc         hot   normal  False
13   rainy        mild     high   True